.feed {
    background-color: rgba(110, 197, 216, 0.442);
    padding-top: 35px;
}
.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(145, 203, 216);
    backdrop-filter: blur(10px);
    height: 50px;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100vw;
    padding-bottom: 10px;
}
.imagemPerfil {
    margin-top: 10px;
    height:55px;
}
.tituloFeed {
    color: #fff;
}
.buttonLogout {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 10px;
}
.feedPerfil {
    margin: 40px;
    background-color: rgba(149, 200, 212, 0.554);
    padding: 10px;
    border-radius: 25px;
    color: rgb(33, 167, 200);
}
.buttonPubli {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    .buttonLike {
        background-color: transparent;
        border: 1px solid rgb(33, 167, 200);
        color: rgb(33, 167, 200);
        padding: 5px 15px;
        font-size: 15px;
        border-radius: 10px;
    }
    .buttonComment {
        background-color: transparent;
        border: 1px solid rgb(33, 167, 200);
        color: rgb(33, 167, 200);
        padding: 5px 15px;
        font-size: 15px;
        border-radius: 10px;
    }
.name {
    margin: 3px;
}
.imagemPubli {
    border-radius: 9px;
    margin: 10px;
}